<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Welcome Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Welcome Page</h1>

<form th:action="@{/weather/searchByCityName}" method="post">
    <input type="text" name="cityName" placeholder="Enter search term" required>
    <button type="submit">Search</button>
</form>

<br>

<form th:action="@{/auth/logout}" method="post">
    <div>
        <button type="submit">Logout</button>
    </div>
</form>
</body>
</html>