<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Welcome Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        table {
            border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
<h1>Welcome Page</h1>

<form th:action="@{/weather/searchByCityName}" method="post">
    <input type="text" name="cityName" placeholder="Enter search term" required>
    <button type="submit">Search</button>
</form>

<br>

<div th:if="${errorMessage}" style="color: red;">
    <p th:text="${errorMessage}"></p>
</div>

<br>

<div>
    <table>
        <tr>
            <th>NAME</th>
            <th>TEMPERATURE</th>
            <th>FEELS LIKE</th>
            <th>ICON</th>
            <th>Delete</th>
        </tr>
        <tr th:each="userWeather : ${userWeatherData}">
            <td th:text="${userWeather.getLocation().getName()}">Test1</td>
            <td th:text="${userWeather.getWeatherData().getTemperature()}">2.41</td>
            <td th:text="${userWeather.getWeatherData().getFeelsLike()}">2.411</td>
            <td>
                <img th:src="'http://openweathermap.org/img/wn/' + ${userWeather.getWeatherData().getIconId()} + '.png'" alt="Example Image">
            </td>
            <td>
                <form th:action="@{/weather/delete}" method="post">
                    <input type="hidden" name="weatherDataId" th:value="${userWeather.getWeatherData().getId()}" />
                    <input type="hidden" name="locationId" th:value="${userWeather.getLocation().getId()}" />
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</div>

<br>

<form th:action="@{/auth/logout}" method="post">
    <div>
        <button type="submit">Logout</button>
    </div>
</form>
</body>
</html>